/* GLOBAL & MAIN STYLING */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Zen Dots', cursive;
  background-color: #eff5f8;
  color: black;
}

/* HEADER */
#header h1{
  padding: 10px;
  font-size: 60px;
  color: rgb(122, 242, 242);
  background-color: black;
  border: 3px solid rgb(122, 242, 242);
  border-radius: 1rem;
  width: 380px;
  margin: 1rem auto;
}

h1 {
  text-align: center;
}

a:link {
  color: rgb(122, 242, 242);;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #FF6EFF;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: #FFFF66;
  background-color: transparent;
}

/* HIGH SCORE LIST */
ol {
  list-style-type: none;
  padding: 0;
  background-color: white;
}

li {
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: black;
  color: rgb(122, 242, 242);;
  font-size: 1.5em;
  line-height: 1.5;
}

li:before {
  content: "\200B";
  position: absolute;
}

li::after {
  content: " ";
  display: block;
  clear: both;
}