/* GLOBAL STYLE */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Zen Dots', cursive;
  background-color: #eff5f8;
  color: black;
}

#header h1{
  /* justify-self: center; */
  padding: 10px;
  /* padding-top: 0px; */
  font-size: 60px;
  color: rgb(122, 242, 242);
  background-color: black;
  border: 3px solid rgb(122, 242, 242);
  border-radius: 1rem;
  width: 380px;
  margin: 1rem auto;
}

label, p {
  font-size: 30px;
}

h1 {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  background-color: white;
}

li {
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color:  black;
  color: rgb(122, 242, 242);;
  font-size: 1.5em;
  line-height: 1.5;
}

li:before {
  content: "\200B";
  position: absolute;
}

li::after {
  content: " ";
  display: block;
  clear: both;
}

li button {
  float: right;
  border: none;
  height: 40px;
  cursor: pointer;
  background-color: #ff7034;
  color: white;
  font-size: 1em;
}

.card {
  display: block;
  background-color:	#FFFFE0;
  border: 1px solid #eceff1;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
  margin: 60px auto;
  padding: 20px;
  width: 80vw;
}
