*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  /* font-family: "Avenir Next", "Century Gothic", sans-serif; */
  background-color: #f9fbfd;
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

#header {
  display: flex;
  justify-content: center;
  text-align: center;
}

#header a {
  margin: 20px;
}

#header h1{
  /* justify-self: center; */
  /* padding: 20px;
  padding-top: 0px; */
  font-size: 60px;
  color: rgb(122, 242, 242);
  background-color: black;
  border: 3px solid rgb(122, 242, 242);
  border-radius: 1rem;
  width: 380px;
  margin: 1rem auto;
}

/* .fancy {
  font-size: 60px;
  color: rgb(122, 242, 242);
  background-color: black;
  border-radius: 1rem;
  width: 380px;
  margin: 1rem auto;
} */

/* #header h1 {
  display: flex;
  justify-content: center;
  padding: 2% 10% 0;
} */


#body p {
  display: flex;
  justify-content: center;
  padding: 2% 10% 0;
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-body {
  min-height: 100px;
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

#start-button {
  border: 3px solid rgb(122, 242, 242);
  color: rgb(122, 242, 242);
  background-color: black;
  /* background-color: hsl(360, 91%, 36%); */
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
  /* color: hsl(0, 0%, 100%); */
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}


.float-right {
  float: right;
}

.float-left {
  float: left;
}

.hide {
  display: none;
}

#infoBar {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0 2px;
  color: rgb(122, 242, 242);
  background-color: black;
  /* border: 3px solid hsl(360, 91%, 36%);;  */
  padding: 0 5%;
  border: 3px solid rgb(122, 242, 242);

}

#container {
  text-align: center;
  color: black;
  background: white;
  margin: 10% 30%
}

#question-body {
  text-align: left;
  padding: 1% 15%;
}

#countdown {
  float: right;
}

#score {
  float: left;
}
