/* GLOBAL & MAIN STYLING */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Zen Dots', cursive;
  background-color: #f9fbfd;
}

.hide {
  display: none;
}

/* HEADER & INFO BAR */
#header a {
  margin: 20px;
}

#header h1{
  padding: 10px;
  font-size: 60px;
  color: rgb(122, 242, 242);
  background-color: black;
  border: 3px solid rgb(122, 242, 242);
  border-radius: 1rem;
  width: 380px;
  margin: 1rem auto;
}

#instruction {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2% 10% 0;
}

#infoBar {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0 2px;
  color: rgb(122, 242, 242);
  background-color: black;
  padding: 0 5%;
  border: 3px solid rgb(122, 242, 242);
}

/* MAIN QUESTION & ANSWER SECTION */
#quiz-container {
  text-align: center;
  color: black;
  background: white;
  margin: 10% 30%;
}

#question-body {
  text-align: left;
  padding: 1% 15%;
}

li:hover {
  cursor: pointer;
  text-shadow: 2px 2px rgb(122, 242, 242);

}

/* NAME INPUT FORM */
#input-card {
  height: 30%;
  text-align: center;
  color: black;
  background: white;
  margin: 10% 30%;
}

#sign-name,
#start-button {
  border: 3px solid rgb(122, 242, 242);
  color: rgb(122, 242, 242);
  background-color: black;
  border-radius: 25px;
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}